@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    color: #0d0c22;
    background-color: #f8d7ff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#header
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    /* background-image: url(https://t4.ftcdn.net/jpg/03/43/78/67/360_F_343786732_dKQoM3xK3jyoGKroom9b3t6K8zmZl27E.jpg);
    background-size: cover;
    background-position: center; */
    /* box-shadow: 0 1px 10px black; */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

#header h1
{
    font-family: 'Outfit', sans-serif;
    font-size: 2rem;
    /* color: #9b9cb6; */
    text-decoration: none;
}

.search-div {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 590px;
   }
   
   .input {
    width: 100%;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #000000;
    color: #e4aff3;
    transition: .3s ease;
   }
   
   .input::placeholder {
    color: #e4aff3;
   }
   
   .input:focus, input:hover {
    outline: none;
    /* border-color: #8871b8; */
    background-color: #000000;
    color: #e4aff3;
    box-shadow: 0 0 0 2px #000000;
   }
   
   .icon {
    position: absolute;
    left: 1rem;
    fill: #e4aff3;
    width: 1rem;
    height: 1rem;
   }

   #search-button {
    position: absolute;
    border: 1px solid #9b9cb6;
   }

#main
{
    /* border: 1px solid black; */
    margin-top: 150px;
    width: 80%;
    height: 400px;
    display: flex;
    /* border-radius: 15px; */
}

#time
{
    width: 45%;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #e4aff3;
    border-radius: 15px 0 0 15px;
}

#h-m
{
    font-size: 6rem;
    font-weight: 600;
}

#date
{
    font-size: 1.8rem;
    font-weight: 400;
}

#city
{
    width: 55%;
    background-color: #e4aff3;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-radius: 5px; */
}

#weather
{
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* padding-right: 15%; */
    text-align: left;
    /* background-color: #000000; */
    border-radius: 0px 15px 15px 0;
    background-image: url(https://t4.ftcdn.net/jpg/03/43/78/67/360_F_343786732_dKQoM3xK3jyoGKroom9b3t6K8zmZl27E.jpg);
    background-size: cover;
    /* background-position: center; */
    backdrop-filter: blur(10px);
    padding-top: 75px;
}

#temp
{
    font-size: 6rem;
    color: rgb(0, 0, 0);
    font-weight: 600;
}

#desc
{
    font-size: 1.8rem;
    font-weight: 400;
    color: rgb(0, 0, 0);
}

#min-max
{
    background-color: rgb(0, 0, 0);
    width: 35%;
    border-radius: 5px;
    color: #e4aff3;
    display: flex;
    justify-content: center;
    align-items: center;
}

#w-icn
{
    margin-top: 20px;
}
   
   
   
   
   
   